* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  color: aliceblue;
}
.App {
  text-align: center;
}
.ListCard {
  transition: all 0.2s ease-in;
  padding: 10px;
  border-radius: 25px;
  margin-top: 5px;
  color: lightgray;
}
.ListCard:hover {
  background-color: lightgray;
  transform: scale(1.04);
  color: black;
  z-index: 1;
}
.btn-group {
  margin-bottom: 10px;
}
